span.snippet {
	border: 1px dotted red;
}

/* default styling for snippet edit form */
.edit body {
	background:#ccc;
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-size:16px;
}
.edit label {
	display:block;
	font-weight: bold;
}
.edit textarea {
	border: 1px solid #eee;
	padding:10px;
	width:560px;
	height:300px;
}